body {
    margin:auto;
    width:1440px;
    background-color:rgb(163, 182, 187);
}
/* Avatar 1 */
#avatar {
    width:80px;
    height:80px;
    border-radius:50px;
    background-color:rgb(0, 0, 0);
    text-align: center;
    display:table-cell;
    color:#FFF;
}
#avatar span {
    font-size:30px;
    position: relative;
    top:20px;
}
#cornerCircle {
    width:25px;
    height:25px;
    border-radius:50px;
    background-color:rgba(103, 105, 105, 0.7);
    text-align: center;
    display:table-cell;
    vertical-align: middle;
    position: relative;
    top:20px;
    left:55px;
}
/* Avatar 2 */
#avatar2 {
    width:80px;
    height:80px;
    border-radius:50px;
    background: url(img/BW.webp);
    background-repeat:no-repeat;
    background-position: center;
    text-align: center;
    display:table-cell;
    color:#FFF;
    margin-left:50px;
}
#cornerCircle2 {
    background: url(img/check.png);
    background-repeat:no-repeat;
    background-position: center;
    width:25px;
    height:25px;
    border-radius:50px;
    background-color:rgba(4, 133, 32, 0.9);
    text-align: center;
    display:table-cell;
    vertical-align: middle;
    position: relative;
    top:55px;
    left:55px;
}
/* Avatar 3 */
.avatar3 {
    width:80px;
    height:80px;
    border-radius:50px;
    background-color:rgb(0, 0, 0);
    text-align: center;
    color:#FFF;
    margin-right: -17px;
    border:3px solid white;
    font-size:30px;
    line-height:80px;
    float:left;
}
.avatar :last-of-type{
    margin-right:0;
}
#avatar3small {
    width:40px;
    height:40px;
    border-radius:50px;
    background-color:rgb(0, 0, 0);
    text-align: center;
    color:#FFF;
    margin-right: -17px;
    border:3px solid white;
    font-size:20px;
    line-height:40px;
    float:left;
    margin-top:20px;
}

/* Badge */

#badge1 {
    width:60px;
    height:40px;
    border-radius:50px;
    background-color:rgb(0, 0, 0);
    text-align: center;
    color:#FFF;
    font-size:26px;
    line-height:40px;
    margin-bottom:10px;
}
#badge2 {
    width:60px;
    height:40px;
    border-radius:50px;
    border:1px solid rgb(101, 143, 101);
    background-color:rgb(255, 255, 255);
    text-align: center;
    color:rgb(0, 0, 0);
    font-size:26px;
    line-height:40px;
    margin-bottom:10px;
}
#badge3 {
    background: url(img/check.png);
    background-size: 25px;
    background-repeat:no-repeat;
    background-position: center;
    width:40px;
    height:40px;
    border-radius:50px;
    background-color:rgba(0, 0, 0, 0.9);
    text-align: center;
    border: 1px solid black;
    margin-bottom:10px;
}
#badge4 {
    width:40px;
    height:40px;
    border-radius:50px;
    background-color:rgba(255, 255, 255, 0.9);
    border: 1px solid gray;
    text-align: center;
    line-height:40px;
    font-size:25px;
    color: black;
    margin-bottom:10px;
}

/* Breadcrumbs */

.breadcrumb {
    font-size:30px;
}
.breadcrumb span{
    font-size:40px;
    font-weight:700;
}
.breadcrumb img, .breadcrumb2 img{
    margin-left:10px;
    margin-right:10px;
}
.breadcrumb2 img:first-of-type{
    margin-left:0px;
    margin-right:10px;
}
.breadcrumb2 span{
    display: inline-block;
    font-size:20px;
    vertical-align: middle;
}
.breadcrumb2 img{
    display: inline-block;
    vertical-align: middle;
}

/* Button */

#button1 {
    width: 116px;
    height:40px;
    border:none;
    background: black;
}
#button1 img {
    display:inline-block;
    vertical-align: middle;
}
#button1 span {
    display:inline-block;
    vertical-align: middle;
    padding: 0 8px 0 8px;
    font-size: 16px;
    color: white;
}
#button2 {
    width: 116px;
    height:40px;
    border:none;
}
#button2 img {
    display:inline-block;
    vertical-align: middle;
}
#button2 span {
    display:inline-block;
    vertical-align: middle;
    padding: 0 8px 0 8px;
    font-size: 16px;
}
#button3 {
    width: 64px;
    height:64px;
    border: 1px solid black;
    background: black;
}
#button4 {
    width: 64px;
    height:64px;
    border: 1px solid black;
}

/* Checkbox */

.checkbox1 {
    display:inline-block;
    font-size:16px;
    line-height:16px;
}
.label2 {
    font-size: 12px;
    color: #777777;
    margin-left:20px;
}
.cbGray {
    color:#777777;
}

/* Chip */

.chip {
    width: 116px;
    height:36px;
    border-radius: 50px;
    background-color:black;
    color: white;
    margin-bottom:5px;
}
.chipLeft {
    float:left;
    width:28px;
    height:28px;
    background-color:#777777;
    border-radius:50px;
    margin-top: 4px;
    margin-left: 6px;
    text-align: center;
    line-height:28px;
    font-size: 12px;
}
.chipRight {
    float:right;
    width:28px;
    height:28px;
    border-radius:50px;
    margin-top: 4px;
    margin-right: 6px;
    text-align: center;
    line-height:28px;
    background: url(img/x.png);
    background-position: center;
    background-repeat:no-repeat;
    background-size: 8px 8px;
    background-color:#777777;
}
.chipMid{
    text-align: center;
    float:left;
    line-height:36px;
    width: 48px;
}

.chip2 {
    width: 116px;
    height:36px;
    border-radius: 50px;
    background-color:white;
    color: black;
    margin-bottom:5px;
}
.chipLeft2 {
    float:left;
    width:28px;
    height:28px;
    background-color:black;
    border-radius:50px;
    margin-top: 4px;
    margin-left: 6px;
    text-align: center;
    line-height:28px;
    font-size: 12px;
    color:white;
}
.chipRight2 {
    float:right;
    width:28px;
    height:28px;
    border-radius:50px;
    margin-top: 4px;
    margin-right: 6px;
    text-align: center;
    line-height:28px;
    background: url(img/x.png);
    background-position: center;
    background-repeat:no-repeat;
    background-size: 8px 8px;
    background-color:black;
}
.chipMid2 {
    text-align: center;
    float:left;
    line-height:36px;
    width: 48px;
}

/* Divider */
/*other method
#divider h1 {
    overflow: hidden;
    text-align: center;
}
#divider h1:before,
#divider h1:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
#divider h1:before {
    right: 0.5em;
    margin-left: -50%;
}
#divider h1:after {
    left: 0.5em;
    margin-right: -50%;
}
*/
#divider1 {
    width:283px;
    height:12px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom:20px;
}
#divider1 span{
    font-size: 20px;
    background-color: rgb(163, 182, 187);
    padding: 0 5px;
}

#divider2 {
    width:283px;
    height:12px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    text-align: left;
    margin-bottom:20px;
}
#divider2 span{
    font-size: 20px;
    background-color: rgb(163, 182, 187);
    padding: 0 5px;
}

#divider3 {
    width:283px;
    height:12px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom:20px;
}
#dividerImg{
    display: inline-block;
    justify-content: center;
}
#divider3 img{
    padding: 0 5px;
    background-color: rgb(163, 182, 187);
    padding-top: 6px;
}

#divider4 {
    width:283px;
    height:12px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    margin-bottom:20px;
    text-align: center;
}
#divider4element {
    display: inline-block;
    text-align: center;
    width:20px;
    height:14px;
    border-radius:50px;
    background-color:rgb(0, 0, 0);
    color:#FFF;
    font-size:12px;
}
#divider4 span{
    vertical-align: middle;
    padding: 0 5px;
    background-color: rgb(163, 182, 187);
}

#divider5 {
    width:283px;
    height:12px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    margin-bottom:10px;
    text-align: center;
}
#divider5element {
    display: inline-block;
    text-align: center;
    width:60px;
    height:24px;
    border-radius:50px;
    background-color:rgb(0, 0, 0);
    color:#FFF;
    font-size:12px;
}
#divider5 span{
    line-height:24px;
    vertical-align: middle;
    padding: 0 5px;
    background-color: rgb(163, 182, 187);
}
#divider6 {
    display: inline-block;
    text-align: left;
    height:200px;
    border-right: 1px solid rgb(0, 0, 0, 0.2);
    right:0;
}

/* Input*/
.box {
    width: 200px;
}

#input1 {
    background: white;
    background-image: url(img/env.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 10px;
    background-size: 18px;
    padding-left: 35px;
    height:20px;
    border: 1px solid black;
    width:111px;
}

.inputSpan{
    float:right;
    padding-right: 50px;
}

#input2 {
    height:20px;
    border: 1px solid black;
    width:89px;
    padding-right:54px;
    padding-left:5px;
}
#input2img {
    width:38px;
    margin-left:-53px;
    margin-bottom: -4px;
}

#input3 {
    height:60px;
    max-height:220px;
    max-width:141px;
    border: 1px solid black;
    margin-bottom:0;
    padding-left:5px;
}

#input4 {
    height:30px;
    border: 1px solid black;
    width:96px;
    padding-left: 60px;
    padding-right:90px;
}

.input4box {
    position: relative;
    width: 250px;
}
.input4 span {
    float:right;
}
#input4img1 {
    position:absolute;
    bottom:8px;
    left:10px;
}
#input4img2 {
    position:absolute;
    bottom:9px;
    left:40px;
}
#input4img3 {
    position:absolute;
    bottom:8px;
    right:65px;
}
#input4img4 {
    width:50px;
    position:absolute;
    right:10px;
    bottom:5px;
}
.inputHelpText {
    font-size:12px;
}
form {
    margin-bottom:20px;
    line-height:16px;
}

.input5short{
    width:66px;
    height:24px;
    float:left;
    border:1px solid black;
    padding-left:5px;
    border-bottom:0;
}
.input5short:nth-child(even){
    border-left: none;
}
.input5long{
    border:1px solid black;
    width:140px;
    height:24px;
    margin:0;
    padding-left:5px;
}
.input5long:first-of-type{
    border-bottom: none;
}
#input5, #input5 input:focus {
    outline: none;
}
.floatRight {
    float:right;
}
#input5{
    width:149px;
}

#input6{
    width:402px;
}
#input6editor{
    background:white;
    width:400px;
    height:48px;
    border:1px solid black;
    vertical-align:middle;
}
#input6editor img{
    display:inline-block;
    vertical-align:middle;
    padding: 16px 0 0 16px;
}
#input6textarea{
    margin-top: 4px;
    width:393px;
    max-width: 393px;
    max-height:500px;
    height:128px;
    padding-left:5px;
}

/* Link*/

#link a:first-of-type{
    font-size:18px;
    line-height:18px;
}
#link a:last-of-type{
    font-size:20px;
    line-height:20px;
}
#link a:link:last-of-type, a:visited:last-of-type, a:hover:last-of-type, a:active:last-of-type {
    color:#777777;
    text-decoration: none;
}
#link img{
    padding-left:4px;
}

/* Pagination*/

